.home-bg{
    background: url('../images/home-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}
.heading{
    font-size: 58px;
    background-color: rgba(238, 129, 110, 0.884);
}